<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.berkeley.eecs.e_mission"
    android:versionCode="5"
    android:versionName="2.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    
    //Map Fragment
    <permission
        android:name="edu.berkeley.eecs.e_mission.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="edu.berkeley.eecs.e_mission.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- WRITE_EXTERNAL_STORAGE is required by google maps  -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
	//Map Fragment
	
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:name=".EMission"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Main activity -->
        <activity
            android:name="edu.berkeley.eecs.e_mission.SettingsActivity"
            android:label="@string/app_name" >

        </activity>
        
        <!-- Onboarding activity -->
        
        <activity 
            android:name="edu.berkeley.eecs.e_mission.OnboardingActivity" 
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="edu.berkeley.eecs.e_mission.cordova.TabActivity"
            android:label="Cordova Tab Activity">
        </activity>

        <activity 
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale" 
            android:launchMode="singleTop" 
            android:theme="@android:style/Theme.Black.NoTitleBar" 
            android:windowSoftInputMode="adjustResize"
            android:name="edu.berkeley.eecs.e_mission.cordova.DiaryActivity"
            android:label="Diary">
        </activity>

        <activity
            android:name="edu.berkeley.eecs.e_mission.cordova.SidebarActivity"
            android:label="Cordova Sidebar Activity">
        </activity>

        <!--         <activity
                    android:name="edu.berkeley.eecs.e_mission.SignupActivity"
                    android:label="Sign In With Google">
                </activity> -->
        
        <receiver
            android:name="edu.berkeley.eecs.e_mission.BootReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>

        <service
            android:name="edu.berkeley.eecs.e_mission.data_sync.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name="edu.berkeley.eecs.e_mission.data_sync.SyncService"
            android:exported="true"
            android:process=":sync" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <provider
            android:name="edu.berkeley.eecs.e_mission.data_sync.StubContentProvider"
            android:authorities="edu.berkeley.eecs.e_mission.provider"
            android:exported="false"
            android:syncable="true" />

        <activity
            android:name="edu.berkeley.eecs.e_mission.ConfirmSectionActivity"
            android:label="@string/title_activity_confirm_section" >
        </activity>
        
        <activity
            android:name="edu.berkeley.eecs.e_mission.DisplayResultSummaryActivity"
            android:label="@string/title_activity_result_summary" >
        </activity>
        
        <activity
            android:name="edu.berkeley.eecs.e_mission.ConfirmSectionListActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="edu.berkeley.eecs.e_mission.auth.WebLoginActivity"
            android:label="@string/title_activity_confirm_section_list" >
        </activity>
        
        //Map Fragment
        <meta-data
    		android:name="com.google.android.gms.version"
    		android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/map_key"/>
            
        <meta-data android:name="EulaVersion" android:value="1.0" />
        
    </application>

</manifest>
