<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- your app's js -->
    <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/dbHelper.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>
        <script type="text/javascript" src="js/tripCtrl.js"></script>
  </head>
  <body ng-app="" animation="slide-left-right-ios7">

    <!-- 
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-content ng-controller="ListCtrl">
    <div class="list">

      <div class="item item-divider">
        Today
      </div>

      <a id="lala" class="item" href="#">
        <button onclick="myFunction()">Try it</button>

    <script>
    function myFunction() {
        document.getElementById("lala").innerHTML = "Hello World";
    }
    </script>
      </a>

      <div class="item item-divider">
        Yesterday
      </div>
      <a class="item" href="#" ng-click="cool()">
        <h2>This {{id}} {{message}}</h2>
      </a>

      <a class="item item-icon-left" href="#">
      <i id="lala1" onclick="myFunction()" class="icon ion-mic-a"></i>
        <script>
      function myFunction() {
        document.getElementById("lala1")
      }
      </script>
        Record album
        <span class="item-note">
          100%
        </span>
      </a>

      <div class="item item-divider">
        Last Week
      </div>
      <a class="item" href="#">
        Trip
      </a>
      <a class="item" href="#">
        Trip
      </a>

    </div>
    </div>
    <div ng-app="" ng-controller="NamesCtrl"> 

      <ul>
        <li ng-repeat="x in names">
          {{ x.mode + ', ' + x.confidence }}
        </li>
      </ul>

    </div>
    <ion-list ng-controller="NamesCtrl" can-swipe="listCanSwipe">
      <ion-item ng-repeat="x in names" class="item-thumbnail-right  ">
        <div class="item item-divider">
        <div class="color-box" style="background-color: #FF850A;"></div>
        <h2>{{x.mode}}</h2>
        <img src={{pickImage(x)}} height="42" width="42" align="center" margin-left="500px">
        <span class="item-note" style={{pickColor(x)}}>
          {{x.confidence}}
        </span>
        <div class="color-box" style="background-color: #FF850A;"></div>
        </div>
      </ion-item>
  </body>
</html>